/* App.css */
.app-container {
  padding: 20px;
}

.app-heading {
  text-align: center;
  margin-bottom: 20px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.filters-container .form-control {
  flex: 1 1 200px;
}

.app-table {
  width: 100%;
  margin-bottom: 20px;
}

.confirmation-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.confirmation-box p {
  margin-bottom: 10px;
}

.confirmation-box .form-control {
  margin-bottom: 10px;
}

.confirmation-box button {
  margin-right: 10px;
}

.pagination {
  justify-content: center;
}
/* Login Page */
.login-container {
  position: relative; /* Set position to relative for pseudo-element positioning */
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.726);
  border-radius: 10px;
  text-align: center;
  color: #253237;
  z-index: 1; /* Ensure it appears above the pseudo-element */
}

.login-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.616); /* Transparent white overlay */
  border-radius: 10px; /* Matches the container's radius */
  z-index: -1; /* Places the overlay behind the content */
}

.login-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('https://m.economictimes.com/thumb/msid-88966944,width-1200,height-900,resizemode-4,imgsize-22840/healthcare-g.jpg') center/cover no-repeat; /* Replace with the URL of your background image */
  border-radius: 10px;
  z-index: -2; /* Places the image behind the overlay */
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #253237;
}

.login-container input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #9DB4C0;
  background: #ffffff;
  color: #253237;
}

.login-container button {
  background-color: #5C6B73;
  color: #E0FBFC;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.login-container button:hover {
  background-color: #9DB4C0;
}

.error {
  color: red;
  font-size: 0.9em;
}